name: Compile Release

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.28.3
      
      - name: Get Linux Packages
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo dpkg --add-architecture i386
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt update
          sudo apt install -y libgcc-s1:i386 libstdc++6:i386 libgl1-mesa-dev:i386 pkg-config gcc-multilib g++-multilib

      - name: Build on Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: ${{github.workspace}}/build-linux.sh -p ${{github.workspace}} -t ${{env.BUILD_TYPE}}

      - name: Setup MSVC CLI for Windows
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86

      - name: Build on Windows
        if: startsWith(matrix.os, 'windows')
        run: |
          cmake -S . -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -A Win32
          msbuild ${{github.workspace}}/build/msr_rehlds.sln /p:Configuration=${{env.BUILD_TYPE}} /p:Platform=win32

      - name: Upload Linux artifact
        if: startsWith(matrix.os, 'ubuntu')
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86
          path: |
            ${{github.workspace}}/build/src/rehlds/swds.so
            ${{github.workspace}}/build/src/filesystem/filesystem_stdio.so
            ${{github.workspace}}/build/src/dedicated/dedicated

      - name: Upload Windows artifact
        if: startsWith(matrix.os, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: win32
          path: |
            ${{github.workspace}}/bins/release/*.dll
            ${{github.workspace}}/bins/release/dedicated.exe