name: Compile Release

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.28.3
      
      - name: Get Linux Packages
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo dpkg --add-architecture i386
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt update
          sudo apt install -y libc6-dev libc6-dev-i386 gcc-multilib g++-multilib build-essential g++ gcc

      - name: Build on Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: rm -rf  ${{github.workspace}}/build && cmake -B  ${{github.workspace}}/build && cmake --build  ${{github.workspace}}/build -j8

      - name: Setup MSVC CLI for Windows
        if: startsWith(matrix.os, 'windows')
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86

      - name: Build on Windows
        if: startsWith(matrix.os, 'windows')
        run: |
          msbuild ${{github.workspace}}/ReHLDS.sln /p:Configuration=${{env.BUILD_TYPE}} /p:Platform=Win32

      - name: Upload Linux artifact
        if: startsWith(matrix.os, 'ubuntu')
        uses: actions/upload-artifact@v4
        with:
          name: linux-x86
          path: |
            ${{github.workspace}}/build/src/rehlds/swds.so
            ${{github.workspace}}/build/src/filesystem/filesystem_stdio.so
            ${{github.workspace}}/build/src/dedicated/dedicated

      - name: Upload Windows artifact
        if: startsWith(matrix.os, 'windows')
        uses: actions/upload-artifact@v4
        with:
          name: win32
          path: |
            ${{github.workspace}}/bins/release/*.dll
            ${{github.workspace}}/bins/release/dedicated.exe